{% load static %}
<link rel="stylesheet" href="{% static 'bootstrap45/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
<script src="{% static 'bootstrap45/js/bootstrap.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <br><br><br>
      <h1 class='text-center'>User Registration</h1><br>
      <form method="POST" action="">
        {% csrf_token %}
        <div class="form-group input-group">
          <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
           </div>
              <input name="" class="form-control" placeholder="Full name" type="text">
              {{ form.username }}
          </div> <!-- form-group// -->
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
           </div>
              <input name="" class="form-control" placeholder="Email address" type="email">
          </div> <!-- form-group// -->
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
          </div>
              <input class="form-control" placeholder="Create password" type="password">
          </div> <!-- form-group// -->
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
          </div>
              <input class="form-control" placeholder="Repeat password" type="password">
          </div> <!-- form-group// -->                                      
          <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
          </div> <!-- form-group// -->      
          <p class="text-center">Have an account? <a href="{% url 'loginPage' %}">Log In</a> </p>                                                                 
      </form>
      
      
    </div>
    <div class="col"></div>
  </div>
</div> 
<!--container end.//-->
